.container{

    width:500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.inputDiv{
    display: flex;
    flex-direction: row;
    /* margin-right: 90px; */
    margin:10px 30px 10px 10px;
}

.inputDivTwo{
    display: flex;
    flex-direction: row;
    margin:10px 0px;

}