



.brandStyle {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000; /* White text for logo */
    font-weight: bold;
    font-size: 18px;
    background-color: #fff; /* Sidebar background color */
    margin-bottom: 16px;
  }
  body{
    font-family: "Poppins", serif;
  }